:root{
    --grid-rows: 1;
    --grid-columns: 1;
}


html{
    background: url('https://images5.alphacoders.com/829/thumb-1920-829733.png');
    background-repeat: no-repeat;
    background-position: center;

}


#headline {
    color: white;
    text-align: center;
    height: 96px;
    text-transform: capitalize;
}

#headline > h1{
    font-style: italic;
    font-size: 50px;
    margin-bottom: -15px;
}

#headline > h3{
    font-style: italic;
    
    
}

#button-menu {
    display: flex;
    justify-content: center;  
}

#button-menu > button{
    margin: 20px;
}

#reset {
    width: 100px;
    border-color: darkorchid;
    border-style: solid;
    margin-top: 25px;
    margin-bottom: 25px;
}

#new-grid {
    width: 100px;
    border-color: darkorchid;
    border-style: solid;
    margin-top: 25px;
    margin-bottom: 25px;
}

#acont{
    display: flex;
    justify-content: center;
    text-align: center;
}
#container{    
    display: grid;
    margin-top: 25px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    width: 550px;
    height: 550px;

}
    

.box {
    background-color: transparent;
    border-color: white;
    border-style: solid;
    border-width: 0.5px;
    box-sizing: border-box;
}








